.catalogo {
    margin-bottom: -315px;
    font-family: 'Montserrat', sans-serif;
}

.christmas {
    display: block;
    width: 100%;
    padding-top: 20px;
    margin-bottom: -30px;
}

.hogazas,
.dulces {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    flex-direction: column;
    align-items: center;
}

.dulces {
    transform: translateY(-190px);
    gap: 0.5rem;
}

.cinnamon-text {
    transform: translateY(-10px);
}

.caprichos-container {
    display: grid;
    padding: 1rem;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    flex-direction: column;
    transform: translateY(-140px);
}

.title-caprichos {
    transform: translateY(-130px);
}

.caprichos {
    width: 100%;
}

.caprichos-texto {
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.imagen-logo {
    width: 70%;
    transform: translateY(60px);
}

.imagen {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

.cinnamon {
    max-width: 100%;
    height: auto;
}

.hogaza-imagen {
    width: 50%;
}

.image-container {
    text-align: end !important;
    transform: translateY(-120px);
}

.imagen-logo-container,
.muneca-container {
    text-align: end !important;
}

.tequenos {
    margin-right: 1rem;
    transform: translateY(-180px);
    width: 140px;
}

.muneca {
    transform: translateY(-280px);
    width: 400px;
}

.texto {
    width: 90%;
}

.categoria {
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 1rem;
    color: var(--color-purple);
    font-family: 'Montserrat', sans-serif;
}

.producto {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-purple);
    font-family: 'Montserrat', sans-serif;
}

.precio {
    font-weight: 600;
    color: var(--color-purple);
}

.nota {
    font-size: 0.7rem;
    transform: translateY(-80px);
    color: var(--color-red);
    text-align: start;
    padding: 1rem;

}

.loading-screen {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 20vh;
    min-height: 70vh;
    background-color: #ffe8cf;
    animation: fadeIn 0.8s ease-in;
}

.loading {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: var(--color-red);
    letter-spacing: 1px;
    text-align: center;
}

.loading::after {
    content: "";
    display: inline-block;
    width: 1em;
    text-align: left;
    animation: dots 1.5s steps(4, end) infinite;
}

@keyframes dots {
    0%,
    20% {
        content: "";
    }

    40% {
        content: ".";
    }

    60% {
        content: "..";
    }

    80%,
    100% {
        content: "...";
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .catalogo {
        grid-template-columns: 1fr 2fr;
        margin-bottom: -244px;
    }

    .categoria {
        font-size: 0.9rem;
    }

    .caprichos-container {
        transform: translateY(-140px);
    }

    .pizzas {
        transform: translateY(45px);
    }

    .producto {
        font-size: 0.5rem;
    }

    .nota {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
        font-size: 0.5rem;
        transform: translateY(-230px);
        margin-left: 10px;
    }

    .muneca {
        transform: translateY(-180px);
        width: 250px;
    }
}