.reviews-section {
    background-color: var(--color-bg);
    padding: 2rem 2rem;
    text-align: center;
}

.reviews-section h2 {
    font-family: 'Montserrat', cursive;
    font-size: 2rem;
    color: var(--color-red);
}

.review-form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.review-input,
.review-textarea,
.review-form select {
    padding: 0.9rem 1rem;
    border-radius: 3px;
    border: 1px solid var(--color-red);
    background: rgba(255, 255, 255, 0.6);
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    outline: none;
    color: var(--color-red) !important;
    resize: none;
}
.review-form .review-input::placeholder,
.review-form .review-textarea::placeholder {
    color: var(--color-red);
}

.review-input:focus,
.review-textarea:focus {
    border-color: var(--color-pink) !important;
}

.review-button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    background-color: transparent;
    color: var(--color-red);
    border: 2px solid var(--color-red);
    border-radius: 3px;
    padding: 0.8rem 2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 100px;
}

.review-button:hover {
    background-color: var(--color-red);
    color: var(--color-bg);
}

.review-success {
    margin-top: 1.5rem;
    color: var(--color-green, #008b46);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-align: center;
    animation: fadeInOut 3s ease-in-out;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }

    10% {
        opacity: 1;
        transform: translateY(0);
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(-10px);
    }
}

@media (max-width: 600px) {
    .reviews-section h2 {
        font-size: 2rem;
    }

    .review-form {
        padding: 0 1rem;
    }

        .reviews-section{
            padding-bottom: 100px;
        }
}