.product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    flex: 1 1 calc(100% - 2rem);
    max-width: 100%;
    background-color: var(--color-bg);
    border-radius: 3px;
    padding: 1.5rem;
    gap: 1rem;
    box-sizing: border-box;
    min-height: 500px;
}

.product-image {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 3px;
}

.product-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
}

.product-name {
    margin-bottom: 1rem;
    font-family: 'Biro', sans-serif;
    color: var(--color-gray-dark);
    font-weight: lighter;
    font-size: 2.5rem;
    text-align: center;
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-description {
    padding-bottom: 0.5rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: var(--color-gray-dark);
    line-height: 1.5;
    text-align: justify;
    margin: 0;
}

.product-price {
    font-weight: bold;
    margin-top: 1rem;
}

.label {
    font-weight: 600;
}


@media (max-width: 768px) {
    .product-name {
        min-height: 50px;
    }
}