.review-button {
    display: inline-flex;
    align-items: center;
    background-color: transparent;
    color: var(--color-yellow);
    border: 2px solid var(--color-yellow);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding: 0.8rem 2rem;
    font-size: 1rem;
    border-radius: 3px;
    cursor: pointer;
    transition: transform 0.15s ease, background-color 0.2s ease;
    text-decoration: none;

}

.review-button:hover {
    background-color: var(--color-yellow);
    color: var(--color-green);
    transform: translateY(-2px);
}