:root {
    --color-bg: #ffe8cf;
    --color-pink: #f791c3;
    --color-red: #e53d23;
    --color-green: #008b46;
    --color-yellow: rgb(246, 188, 63);
    --color-gray-dark: #363636;
    --color-purple: #5d30ff; }