:root {
    --color-bg: #ffe8cf;
    --color-pink: rgb(247, 145, 195);
    --color-red: rgb(229, 61, 35);
    --color-green: rgb(0, 139, 70);
    --color-yellow: #f6bc3f;
    --color-gray-dark: #363636;
    --color-purple: #5d30ff; }