.catalog {
    padding: 6rem 2rem;
    background-color: var(--color-pink);
    background-size: 1000px;
    background-repeat: repeat;
}

.catalog h1 {
    font-family: 'Nauryz', cursive;
    color: var(--color-red);
    font-size: xx-large;
    border-bottom: 1px solid var(--color-red);
}

.catalog h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: var(--color-gray-dark);
    margin-bottom: 2rem;
    text-align: center;
}

.list-button {
    text-align: center;
}

.catalog-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: flex-start;
    margin-bottom: 4rem;
    align-items: stretch;
}

@media (min-width: 600px) {
    .product-card {
        flex: 1 1 calc(50% - 2rem);
        max-width: calc(50% - 2rem);
    }
}

@media (min-width: 900px) {
    .product-card {
        flex: 1 1 calc(33.33% - 2rem);
        max-width: calc(33.33% - 2rem);
    }
}