@import '../../styles/variables.css';

.header-full {
    background-color: var(--color-bg);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 0 2rem;
}

.nav-left {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.navbar-home {
    font-family: "Nauryz", sans-serif;
    font-size: 1.2rem;
    padding-top: 7px;
    color: var(--color-red);
    text-decoration: none;
}

.top-nav-list {
    flex: 2;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar-pages-group {
    display: flex;
    gap: 2.5rem;
}

.navbar-pages a {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    color: var(--color-red);
    text-decoration: none;
}

.navbar-pages a:hover {
    color: var(--color-pink);
}

.navbar-pages a.active {
    font-weight: 600;
    color: var(--color-dark-gray);
}

.mobile-logo {
    display: none;
}

.mobile-logo img {
    height: 40px;
    margin-left: 1rem;
}

.hamburger {
    display: none;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: var(--color-red);
    position: absolute;
    right: 1rem;
    top: 1rem;
}

@media (max-width: 768px) {
    .mobile-logo {
        display: flex;
        align-items: center;
    }

    .nav-left {
        display: none;
    }

    .top-nav {
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
    }

    .top-nav-list {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        width: 100%;
        background-color: var(--color-bg);
        position: absolute;
        top: 100%;
        left: 0;
        display: none;
        justify-content: center;
        text-align: center;
        padding-bottom: 1rem;
    }

    .top-nav-list.show {
        display: flex;
    }

    .navbar-pages-group {
        flex-direction: column;
        gap: 1rem;
    }

    .navbar-pages {
        padding: 1rem 1rem;
    }

    .hamburger {
        display: block;
        top: 0;
    }

    .header-full {
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
    }

    .navbar-pages a {
        font-size: 1rem;
    }
}