/* navbar.css */

.navbar {
    background-color: transparent;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    letter-spacing: 0.05em;
}

.logo {
    width: 100px;
}

.navbar.active {
    background: linear-gradient(90deg, #ffe8cf 0%, #e0cbb4 100%);
}

.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    max-width: 100%;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 15px;
    list-style: none;
    text-align: center;
    width: 80vw;
    justify-content: end;
    margin-right: 2rem;
}

.nav-item {
    height: 40px;
    margin-bottom: 10px;
}

.nav-links {
    color: var(--color-red);
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 0.5rem 1.3rem;
    padding-top: 0;
    height: 100%;
}

/* .nav-contact-btn {
    background-color: transparent;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    letter-spacing: 0.05em;
    border: transparent;
    font-size: 1.2rem;
} */

.nav-links:hover {
    border-bottom: 2px solid var(--color-red);
    transition: all 0.2s ease-out;
}

.fa-bars {
    color: var(--color-red);
    margin-top: 0.6rem;
}

.nav-links-mobile {
    display: none;
}

.menu-icon {
    display: none;
}

@media screen and (max-width: 960px) {
    .NavbarItems {
        position: relative;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-menu.active {
        background: linear-gradient(90deg, #ffe8cf 0%, #e0cbb4 100%);
        left: -40px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
        padding-bottom: 2rem;
    }

    .nav-links {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        padding-top: 1.5rem;
        padding-bottom: 0.5rem;
        width: 100%;
        display: table;
    }

    .nav-links:hover {
        background: var(--color-red);
        color: var(--color-bg);
        border-radius: 0;
    }

    .navbar-logo {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(50%, 30%);
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .fa-times {
        color: var(--color-red);
        font-size: 2rem;
        margin-top: 0.4rem;
    }
}