.big-logo {
    background-color: var(--color-bg);
}

.logo-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
}

.big-logo-logo {
    max-width: 750px;
    height: auto;
}

/* --- MOBILE --- */
@media (max-width: 768px) {

    .big-logo-logo {
        max-width: 300px;
        height: auto;
    }
}