.choosing-us {
    background-color: var(--color-pink);
    padding: 5rem 2rem;
    text-align: center;
    color: var(--color-gray-dark);
    position: relative;
    overflow: hidden;
}

/* Imagen decorativa de fondo */
.choosing-us::before {
    content: "";
    position: absolute;
    top: 17%;
    right: 30%;
    width: 900px;
    height: 900px;
    background-image: url('../assets/muneca1.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
}

/* Contenido principal encima */
.choosing-title,
.illustration-wrapper {
    position: relative;
    z-index: 1;
}

.choosing-title {
    font-size: 4rem;
    margin-bottom: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.7rem;
    line-height: 1.4;
}

.biro {
    font-family: 'Biro', cursive;
    font-weight: lighter;
    color: var(--color-bg);
}

.nauryz {
    font-family: 'Nauryz', serif;
    font-weight: 900;
    color: var(--color-purple);
}

.illustration-wrapper img {
    width: 100%;
    max-width: 600px;
    height: auto;
    object-fit: contain;
    margin: 0 auto;
}

/* MOBILE */
@media (max-width: 768px) {
    .choosing-title {
        font-size: 3rem;
    }

    .illustration-wrapper img {
        max-width: 85%;
    }

    .choosing-us::before {
        top: auto;
        bottom: 0%;
        right: -20%;
        width: 720px;
        height: 720px;
    }
}