.footer {
    background-color: var(--color-gray-dark);
    color: var(--color-bg);
    padding-bottom: 0;
    padding-top: 2rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.footer-brand {
    padding-left: 2rem;
    padding-right: 2rem;
    font-family: 'Nauryz', serif;
    font-size: 2.5rem;
    margin: 0;
}

.footer-tagline {
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 0.8rem;
    margin-top: 0.5rem;
    font-family: 'Montserrat', sans-serif;
}

.footer-links {
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 1.5rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.footer-copy {
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 0.7rem;
    margin-top: 2rem;
    opacity: 0.7;
    color: var(--color-bg);
}

.footer-links a {
    color: var(--color-bg);
    font-size: 1.5rem;
    transition: opacity 0.3s ease;
}

.footer-links a:hover {
    opacity: 0.7;
}

.created-by {
    font-size: 0.7rem;
    padding: 10px 0;
    text-align: center;
    color: var(--color-bg);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.created {
    display: flex;
    justify-content: center;
    border-top: 1px solid #6e6e6e;
    width: 100%;
}

.created a {
    text-decoration: none;
    color: var(--color-bg);
}