.contact-section {
    padding: 4rem 2rem;
    background-color: var(--color-pink);
    font-family: 'Montserrat', sans-serif;
}

.contact-content {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 2rem;
}

.contact-text {
    flex: 1;
    min-width: 300px;
    text-align: center;
}

.contact-text h2 {
    font-family: 'Biro', cursive;
    font-weight: lighter;
    font-size: 3rem;
    color: var(--color-bg);
    margin-bottom: 1rem;
}

.contact-text p {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    color: var(--color-purple);
    line-height: 1.6;
    padding-bottom: 1rem;
    max-width: 500px;
}
.contact-button {
    display: inline-flex;
    align-items: center;
    background-color: transparent;
    color: var(--color-purple);
    border: 2px solid var(--color-purple);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding: 0.8rem 2rem;
    font-size: 1rem;
    border-radius: 3px;
    cursor: pointer;
    transition: transform 0.15s ease, background-color 0.2s ease;
    text-decoration: none;

}

.contact-button:hover {
    background-color: var(--color-purple);
    color: var(--color-pink);
    transform: translateY(-2px);
}

.contact-us-image {
    padding-top: 2rem;
    flex: 1;
    min-width: 60px;
    display: flex;
    justify-content: center;
}

.contact-us-image img {
    max-width: 200px;
    height: auto;
}

@media (max-width: 768px) {
    .contact-content {
        flex-direction: column;
        text-align: center;
    }

    .contact-text p {
        margin: 0 auto 1.5rem;
    }
}