.follow-us {
    background-image: url('../../assets/followus-bg2.webp');
    background-size: auto 100%;
    background-position: center;
    background-color: var(--color-gray-dark);
    background-repeat: no-repeat;
    text-align: center;
    padding: 10rem 2rem;
    font-family: 'Montserrat', sans-serif;
    color: var(--color-purple);
    position: relative;
    z-index: 1;
}